body
	background white
	.wrapper
		margin 0 auto
		padding 1%
		background tomato
		h1
			img
				max-width 100%

@media (min-width 360px){
	body{
		background #03CEFF
		}
		.wrapper{
			width: 90%;
			background: green;
	}
}

@media (min-width 768px){
	body{
		background #D7FFF7
	}
		.wrapper{
			width: 70%;
			background: blue;
	}
}

@media (min-width 1200px) {
	body{
		background #C4E8C4
	}
	.wrapper{
			width: 80%;
			background: blue;
	}
}